<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!-- namespace = (包名+mapper的文件名) -->
  <mapper namespace="com.ectxm.mapper.UserMapper">
     
    <insert id="save" parameterType="User" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
       insert into t_user(username,password,age) values(#{username},#{password},#{age})
    </insert>
    
  </mapper>