<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!-- namespace = (包名+mapper的文件名) -->
  <mapper namespace="com.etcxm._mybatis.hello.UserMapper">
     <resultMap type="User" id="base_map">
          <!-- 
          column  数据库的字段名
          property 对象中属性名
          jdbcType  数据库字段类型
          javaType 对象中属性类型 
           -->
     
          <id column="d_id"  property="id"/>
          <result column="d_username"  property="username"/>
          <result column="d_password"  property="password"/>
          <result column="d_age"  property="age"/>
     </resultMap>
  
  
    <!--写SQL代码  -->
    <!-- 
      insert 表示要插入数据
      parameterType  调用insert方法传入的参数
      keyColumn 数据库中自增长的字段名
      keyProperty  对象对应的自增长的字段名
      useGeneratedKeys  标记 自增长的字段名注入到对象中
     -->
    
   <!--  <insert id="save" parameterType="User" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
       insert into t_user(username,password,age) values(#{username},#{password},#{age})
    </insert> -->
    
    
    <!-- <update id="update" parameterType="User">
        update t_user set username=#{username},password=#{password},age=#{age} where id = #{id}
    </update> -->
    
    
<!--     <select id="get" parameterType="long" resultMap="base_map">
       select id,username,password,age from t_user where id=#{id}
       select id as d_id,username as d_username,password as d_password,age as d_age from t_user where id= #{id}
    </select> -->
    
    <!--resultType  表示查询出来 每一条数据封装的结果    resultType="User"-->
    <select id="list" resultMap="base_map">
       <!-- select id,username,password,age from t_user -->
       select id as d_id,username as d_username,password as d_password,age as d_age from t_user
    </select>
    
    <delete id="delete" parameterType="long" >
       delete from t_user where id = #{id}
    </delete>
    
    
    <!-- 动态SQL -->
    <!-- <select id="selectByCondition" parameterType="com.etcxm._mybatis.hello.QueryObject" resultType="User">
        select * from t_user
        <where>
           <if test="keywords!=null">
            AND username like concat('%',#{keywords},'%')
           </if>
           <if test="beginAge!=null">
            AND age &gt; #{beginAge}
           </if>
           <if test="endAge!=null">
            AND age &lt; #{endAge}
           </if>
        </where> 
    </select> -->
    <select id="selectByCondition" parameterType="com.etcxm._mybatis.hello.QueryObject" resultType="User">
        select * from t_user
        <trim  prefix="WHERE" prefixOverrides="AND|OR" >
           <if test="keywords!=null">
            AND username like concat('%',#{keywords},'%')
           </if>
           <if test="beginAge!=null">
            AND age &gt; #{beginAge}
           </if>
           <if test="endAge!=null">
            AND age &lt; #{endAge}
           </if>
        </trim> 
    </select>
    
    
    
    <!--  <update id="updateBy" parameterType="User">
        update t_user
        <set>
           <if test="username!=null">
            username = #{username},
           </if>
           <if test="password!=null">
             password = #{password},
           </if>
           <if test="age!=null">
             age = #{age},
           </if>
        </set> 
        where id = #{id}
    </update> -->
    
    
     <update id="updateBy" parameterType="User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
           <if test="username!=null">
            username = #{username},
           </if>
           <if test="password!=null">
             password = #{password},
           </if>
           <if test="age!=null">
             age = #{age},
           </if>
        </trim> 
        where id = #{id}
    </update>
    
    
     <select id="queryForeach" resultType="User">
        select * from t_user where id in 
        <foreach collection="list" open="(" close=")" separator=","
        item="value">
            #{value}
        </foreach>
    </select>
    
    
    
    
    <!--高级查询和分页  -->
    
    <!--公共的SQL条件 -->
    <sql id="condition">
        <trim  prefix="WHERE" prefixOverrides="AND|OR" >
           <if test="keywords!=null">
            AND username like concat('%',#{keywords},'%')
           </if>
           <if test="beginAge!=null">
            AND age &gt; #{beginAge}
           </if>
           <if test="endAge!=null">
            AND age &lt; #{endAge}
           </if>
        </trim> 
    </sql>
    
    <!-- 查询结果集 -->
     <select id="selectByPage" parameterType="com.etcxm._mybatis.hello.QueryObject" resultType="User">
        select * from t_user
        <include refid="condition"></include>
        limit #{start},#{row}
    </select>
    
    <!-- 分页总条数查询 -->
     <select id="selectByPageCount" parameterType="com.etcxm._mybatis.hello.QueryObject" resultType="long">
        select count(*) from t_user
        <include refid="condition"></include>
    </select>
    
    
    <!-- 登录  两个参数 -->
      <select id="login"  resultType="User">
        select * from t_user where username = #{username} AND password = #{password}
    </select>
    
    
    
    
  </mapper>